aside.col-sm-4
  article.sidebar
    h1.sidebar-title Who should come?
    ul.sidebar-body
      li Anybody interested in Tech Industry
      li Developer, Software Enigneer, passionate person
        
  // article
  article.sidebar
    include work